html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.controls {
  display: flex;
  flex-wrap: nowrap;
}

.controls span, .controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:0;
  margin-bottom: 0;
  padding:0;
}

.controls span:focus, .controls button:focus {
  outline: none;
}

.controls span:first-child {
  min-width: 100px;
  justify-content: flex-start;
  align-items: center;
}

.buttons-back {
  font-size: 30pt;
  margin-right:3rem;
}

.controls .buttons-delete, .controls .buttons-favorite {
  display:flex;
  align-items: center;
  justify-content: center;
}

.controls .buttons-favorite input {
  display:none;
}

.controls .buttons-favorite label {
  font-size: 0;
  padding:1.5rem;
}

.controls .buttons-favorite label:before {
  content: '☆';
  font-size:20pt;
}

.controls .buttons-favorite input:checked + label:before {
  content: '★';
}

.controls .buttons-delete {
  font-size:20pt;
  background: transparent;
  padding:1.5rem;
}

.controls .buttons-delete:before {
  content: '🗑';
}

.controls .buttons-delete:focus {
  outline:none;
}

.conversation-document {
  width:100%;

}

/* https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */
.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

.grow-wrap-body {
  width:100%;
  font: 1rem/1.4 system-ui, sans-serif;
}

.grow-wrap-label {
  display: block;
}